<h2>List of my favourite songs for a drive</h2>
<ul>
  <li *ngFor='let song of songs'>
    <h2 (click)='songClicked(song)'>{{song.name}}</h2>
  </li>
</ul>
<hr/>
Artist <input type='artist' [(ngModel)]='selectedSong.artist' /><br/>
Name <input type='name' [(ngModel)]='selectedSong.name' /><br/>
Year <input type='year' [(ngModel)]='selectedSong.year' /><br/>
<button *ngIf="selectedSong.id != -1" (click)='updateSong()'>Put a song</button>
<button *ngIf="selectedSong.id == -1" (click)='createSong()'>Post a song</button>
<button *ngIf="selectedSong.id != -1" (click)='deleteSong()'>Delete a song</button>

<router-outlet></router-outlet>